#infoSectionContainer {
    margin-top: 100px;
    padding-bottom: 30px;
}

.infoSectionContent {
    padding: 10px;
}

.infoSectionImg { 
    background-color: #cfe8fc;
    height: 400px;
    width: 95%;
    padding: 0;
    border-radius: 20px;
    object-fit: cover;
}

img {
    object-fit: cover;

}

.hyperlinks {
    color: blue;
}